/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.logos-margin {
  img {
    width: 100%;
    max-width: 190px;
  }
}
.banner-content h1 {
  font-weight: 250;
}
