// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.store_banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-bottom: 20px;
}

.store_banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.store_banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.store_banner-a {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item a {
  font-size: 15px;
  font-weight: light;
  color: rgba(20, 20, 20, 0.7);
  margin-bottom: 5px;
  float: left;
  text-decoration: none;
}

.store_item a {
  font-size: 15px;
  font-weight: light;
  color: rgba(20, 20, 20, 0.7);
  margin-bottom: 5px;
  float: left;
  text-decoration: none;
  margin-top: 10px;
}

.highlight {
  border-bottom: 1px solid #fff;
}

.highlight:hover {
  background-color: #F4F8F9;
  border-bottom: 1px solid #55DBCD;

}

.item a:hover {
  font-size: 15px;
  font-weight: normal;
  color: rgba(20, 20, 20, 0.7);
  float: left;
  text-decoration: none;
}

.price {
  float: right;
  color: rgba(100, 100, 100, 0.7);
  font-size: 15px;
  font-weight: light;
  margin-top: 10px;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.button_format {
  float: right;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: lighter;
  background: #7fdbd4;
}

.checkout_button {
  background: #49CCC1;
  margin-left: 100px;
  color: white;
  padding: 10px 20px;
  letter-spacing: 5px;
  font-weight: 400;
}

.checkout_button:hover {
  background: #55dbcd;
  margin-left: 100px;
  color: white;
}

.checkout_button a {
  color: black;
}

.checkout_button_border {
  border: 2px solid rgba(100, 100, 100, 0.7);
}

.checkout_button_border:hover {
  border: 2px solid rgba(20, 20, 20, 0.7);
}

.checkout_button_text a {
  color: white;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.title_format h2 {
  float: left;
  color: rgba(100, 100, 100, 0.7);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  vertical-align: bottom;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 38px;
}

.underline {
  border-bottom: 2px solid #7fdbd4;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container_show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.no-margin {
    margin: 0;
}





