<div>

  <div class="container container-local">
    <div class="row">

        <%
        $i = 0
        $num = 30


        while $i < $num  do
          appart = false
          special = false
          endSpecial = false

            myClass = "col-md-4"
            if $i % 7 == 0
                myClass = "col-md-8 big #{$i}"
            end
            if $i % 6 == 0
              special = true
              appart = true
               myClass = "col-md-4  #{$i}"
            end
            if $i % 7 == 0
              appart = true
            end
            if $i % 8 == 0
              appart = true
              endSpecial = true
            end
            if $i % 9 == 0
              myClass = "col-md-8 big  #{$i}"
            end
            $i +=1;

          %>

          <% if appart %>

            <% if special %>
                 <div class="col-xs-12 col-sm-6 <%= myClass %> <%= appart %> ">
             <% end %>

                  <div class="col-xs-12 no-padding" >
                    <a href="">
                    <div class="card" style="background:linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.5));">

                      <div class="card-category"><h3>Title</h3></div>
                      <div class="card-description">
                        <p>description</p>
                      </div>

                    </div>
                    </a>
                  </div>

              <% if endSpecial %>
                 </div>
              <% end %>

           <% else %>

            <div class="col-xs-12 col-sm-6 hello <%= myClass %> ">

              <div class="col-xs-12 no-padding" >
                <a href="">
                <div class="card" style="background:linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.5));">

                  <div class="card-category"><h3>Title</h3></div>
                  <div class="card-description">
                    <p>Nqme</p>
                  </div>

                </div>
                </a>
              </div>
            </div>

          <% end %>








        <% end %>

        </div>

    </div>

</div><!--End of Container Div -->
