<div class="container-cards container-local">
    <% @stores_city.each_slice(3) do |group| %>
      <div class="card-group">
        <% group.each do |store| %>
          <div class="card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= image_url store.image %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <%= link_to "", store_path(store), class: "card-link" %>
          <div>
            <div class="card-category"><h4><%= store.name %></h4></div>
              <div class="card-description ">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
