
<div class="text-center">
  <h1>Users Edit</h1>
</div>


<div class="container add_item_format center_div">
   <%= simple_form_for @user do |f| %>
   <%= f.input :first_name %>
   <%= f.input :last_name %>
   <%= f.button :submit, class: 'btn-moses' %> </div>
   <% end %>
</div>
