<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile page</title>
</head>
<body>

<div id="big_container">

<div id="container">

  <div id="wrapper">

    <div class="profile_image">
      <%= image_tag ('icon-user-default.png'), width: 300, height: 300, alt: 'a face', class: "profile_image" %>
    </div>

    <div class="name_div">
      <h3>Name</h3><h2><stong><%= @profile.try(:name) %></stong></h2>
    </div>

      <div class="edit_profile">
      <button><%= link_to 'edit your profile', edit_user_path(@user) %></button>
    </div>


  </div>

</div>

</div>



</body>
</html>
