<a href="#signupModal" data-toggle="modal" class="basic_modal "><i class="icon-user"></i>Add Address<i class="icon-sort-down"></i></a>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h3 class="modal-title text-center" id="myModalLabel">Add New Address</h3>

            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <form class="col-md-10 col-md-offset-1" style="padding:0">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="signupEmail1" placeholder="Card Number" contenteditable="false">
                        </div>
                      <p>Expiration</p>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="signupPassword" placeholder="Month" contenteditable="false">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="signupPassword" placeholder="Year" contenteditable="false">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="access-code" placeholder="Premier Access Code">
                        </div>
                      <div class="clearfix"></div>
                    </form>
                </div>
                <div class="row text-center">
                  <hr>
                    <button type="button" class="btn btn-primary col-md-8 col-md-offset-2">Save Card</button>
                    <br class="">
                </div>
            </div>
        </div>
    </div>
</div>
