<div class="about-container text-format">
  <div class="fadeIn">

    <div class= "col-xs-12 col-sm-4 card_margin_top_about">
      <div class="card card">
        <div class="user-show">
          <center class="user-container">
           <h2>Moses (USA)</h2>
           <p>Favorite animal: Squirrel</p>
            <img class="image about_img_size" src="https://avatars.githubusercontent.com/u/13307418?v=3" >
          </center>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 card_margin_top_about">
     <div class="card">
      <div class="user-show">
        <center class="user-container">
         <h2>Joe (UK)</h2>
         <p>Favorite animal: Monkey</p>
           <img class="image about_img_size" src="https://avatars.githubusercontent.com/u/13136886?v=3">
        </center>
      </div>
     </div>
    </div>

    <div class="col-xs-12 col-sm-4 card_margin_top_about">
     <div class="card">
      <div class="user-show">
        <center class="user-container">
         <h2>Erik (Finland)</h2>
         <p>Favorite animal: Elk</p>
           <img class="image about_img_size" src="https://avatars.githubusercontent.com/u/17249174?v=3">
          </center>
        </div>
      </div>
    </div>


  </div>
</div>
