

<div class="banner" style="background-image: linear-gradient(107deg, rgba(0,25,29,0.6) 0%, rgba(0,-344,27,0.3) 50%), url(<%= image_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Drinks Anytime, 24/7</h1>
    <p>Get your favorite beverages delivered</p>
    <div class="wrapper-form">
      <form class="form-inline" role="form" action="stores/search">
        <input type="text" class="form-control form-search" id='location' name="location" placeholder="Enter your address">
        <button type="submit" class="btn btn-default-search">Search</button>
      </form>
    </div>
  </div>
</div>


  <div class="logos-container text-center">
    <div class="container">
      <div class="col-md-4 logos-margin">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/200px-Starbucks_Corporation_Logo_2011.svg.png">
      </div>
      <div class="col-md-4 logos-margin">
        <img src="http://vignette4.wikia.nocookie.net/logopedia/images/5/59/Coca-Cola_logo_2007.jpg/revision/latest?cb=20150801090518">
      </div>
      <div class="col-md-4">
        <img src="http://slayerespresso.com/wp-content/uploads/2015/09/blue-bottle-logo.png">
      </div>
    </div>
  </div>
