<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



  <form class="form-inline" role="form" action="stores/search">
    <div class="form-group">

      <input type="text" class="form-control" name="location" placeholder="Where would you like?">

    </div>
   <button type="submit" class="btn btn-default">Submit</button>
  </form>
