
.content {
    min-height: calc(100% - 351px);
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #23262e;
}
Inherited from html.wf-chaparralpro-i4-active.wf-chaparralpro-n4-active.wf-chaparralpro-n7-active.wf-myriadpro-n3-active.wf-myriadpro-n4-active.wf-myriadpro-n6-active.wf-myriadprocondensed-n4-active.wf-myriadprocondensed-n7-active.wf-myriadprosemicondensed-n6-active.wf-proximanova-n4-active.wf-active
html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
Pseudo ::before element
*, :after, :before {
    box-sizing: border-box;
}
Pseudo ::after element
*, :after, :before {
    box-sizing: border-box;
}



