.btn-moses {
  background: #7FDBD4;
  color: white;

  &:hover {
    background: #49ccc1;
    color: white;
  }



}

.btn-social, .btn-social-icon {
    position: relative;
    padding-left: 46px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text-center {
    text-align: center;
}
.final_button {
  font-weight: bold;
  vertical-align: top;
}
.final_button_right {
  font-weight: bold;
  vertical-align: top;
}
.final_button_right a{
  font-weight: bold;
  vertical-align: top;
  color: black;
}



