.container-cards {
  max-width: 830px;
  margin: auto;
}
.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center center !important;
  color: white;
  position: relative;
  margin-bottom: 2px;
  text-align: center;

  @media (max-width: $screen-sm) {
    width: 50% !important;
  }
}
.card-user {
  right: 10px;
  top: 10px;
}
.card-category {
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content:center;
}

.card-category h3 {
  align-self: center;
}

.card-description {
  bottom: 10px;
  left: 10px;
  display:flex;
  justify-content:center;
}

.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  align-self: center;
  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.no-padding {
  padding-left: 1px;
  padding-right: 1px;
}


.card-group {
  .card {
    float: left;
    margin: 0;
    width: 33.33333333%;
    height: 140px;
    border: 1px solid #fff;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: white;
    }

    &:first-child {
      width: 66.666667%;
      height: 280px;
    }
  }

  &:nth-child(3n) {
    .card {
      float: right;

      &:first-child {
        width: 66.666667%;
        height: 280px;
      }
    }
  }

  &:nth-child(2n+2) {
    .card:first-child {
      height: 140px;
      width: 33.33333333%;
    }
  }
}
