<div class="add_item_format">
  <h2>Add an item</h2>

  <%= simple_form_for [@store, @item, @orderline] do |f| %>
  <%= f.input :quantity %>
  <%= f.input :special_instruction %>
  <%= f.button :submit, class: 'btn-moses', value: 'Add Item' %> </div>
  <% end %>
</div>

