<div class="container add_item_format">

  <h2>Add an item</h2>

<!--   <form class="form-inline" role="form" action="/stores/:store_id/items/:item_id/order_lines">
    <div class="form-group">

      <input type="text" class="form-control" name="special_instruction" placeholder="Special instruction">
      <input type="text" class="form-control" name="quantity" placeholder="Quantity">

    </div>
   <button type="submit" class="btn btn-default">Submit</button>
 </form> -->

 <%= simple_form_for [@store, @item, @orderline] do |f| %>
 <%= f.input :quantity %>
 <%= f.input :special_instruction%>
 <div class="add_item_button">  <%= f.button :submit %> </div>
 <% end %>

</div>
